{% extends 'layouts/layout.html' %}

{% block content %}

<h1 class="mb-5">About</h1>

<section class="container">
    <strong>
        This application generates as a standard password 6 lowercase characters.
    </strong>
    <hr>
    <ul>
        <li>You can add more characters</li>
        <li>You can generate a password with uppercase, special or numeric characters</li>
    </ul>
    <hr>
    <strong>
        Your relationship will be safer, hide your information because she/he can discover your true partner!
    </strong>
</section>

{% endblock %}